body{
    font-family: "Lato", sans-serif;
    color: #58595b;
    background-color: #fff;
}

header{
    position: absolute;
    z-index: 100;
    width: 100%;
}
#botao-vaga-center{
    text-align: center;
}
#botao-vaga-inicio{
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    background-color: #005B95;
    color: #fff;
    box-shadow: 0 0 1em #5DA6D0;
    text-align: center;
    padding: 15px;
}
.btn{
    background-color: #fff;
    color: #5DA6D0;
    border-radius: 30px;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}
.btn:focus{
    box-shadow: none;
}
.btn-primary{
    border-color: #5DA6D0; 
}
.card{
    border-color: #5DA6D0;
    background-color: #fff;
    border-radius: 15px;
}
.cabecalho{
    background-color: #5DA6D0;
    text-align: center;
}
#h2{
    padding-top: 0.5rem;
    
}
#logo{
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}
#titulo-principal{
    padding-top: 70px;
    text-transform: uppercase;
}
h1{
    padding: 20px;
    font-size: 20px;
    color: #005B95;
    text-align: center;
    margin-bottom: 0;
}
h2{
    font-size: 16px;
    color: #005B95;
    text-align: center;
}
h3{
    font-size: 12px;
    text-align: center;
    padding: 10px;
    margin-bottom: 0;
}

blockquote{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}


.foto-depoimento{
    margin: auto;
    margin-top: 20px;
    box-shadow: 0 0 1em #5DA6D0;
}

#marca-texto{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #5DA6D0;
    padding: 0 0.25rem;
}
.destaque-texto{
    color: #5DA6D0;
    text-transform: uppercase;
    font-weight: bold;
}

.blockquote-footer{
    color: #5DA6D0;
}

#collapseThree{
    padding-bottom: 20px;
}

#accordionInfo{
    padding-bottom: 20px;   
}

.accordion .btn {
    background: transparent;
    display: block;
    width: 100%;
    padding: 1rem;
    outline: none; 
}

.icon-social{
    text-align: center;
}
#botao-vaga-final{
    margin-bottom: 20px;
    background-color: #005B95;
    color: #fff;
    box-shadow: 0 0 1em #5DA6D0;
    padding: 10px;
}
.icon-social img{
    padding-bottom: 20px;
    margin-top: -5px;
}
.container-motivo h2,
.container-beneficio h2{
    color: #005B95;
    font-weight: bold;
    text-transform: uppercase;
}

.container-motivo p,
.container-beneficio p{
    text-align: center;
    font-size: 14px;
    padding: 0 20px;
}
.icon-motivo,
.icon-beneficio{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}
.card-seta-svg{
    margin-left: 5px;
    margin-top: 5px;
}
.barra-titulo::after {
    background: #5DA6D0 none repeat scroll 0 0;
    content: "";
    display: block;
    height: 3px;
    margin: 0.6rem auto;
    margin-bottom: 1rem;
    width: 50%;
}

iframe{
    width: 560px;
    height: 315px;
    border-top-width: 0px; 
    border-right-width: 0px;
    border-bottom-width: 0px; 
    border-left-width: 0px;
}
.card-item{
    display: flex;
    justify-content: center;
}
.card{
   margin-bottom: 16px;
}

@media(min-width: 1030px){
    .footer-desktop{
        width: 33%;
        float: left;
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 22px;
    }
    h3{
        font-size: 18px;
    }
    .barra-titulo{
        padding-top: 100px;
    }
    iframe{
        max-width: 100%;
        margin: 0 auto;
    }
    
    .embed-responsive{
        width: 800px;
        height: 455px;
        margin: 0 auto;
    }
    #intro{
        margin-left:auto;
        margin-right:auto;
        display: block;
        clear: both;
    }
    #botao-vaga-inicio{
        padding: 15px 50px;
    }
}