body{
    color: #FFF;
}

.cabecalho{
    background-color: #000;
}

h1{
    font-size: 20px;
    font-family: "Cabin Sketch", sans-serif;
    text-align: center;
    margin-bottom: 0;
}
h2{
    font-size: 16px;
    font-family: "Cabin Sketch", sans-serif;
    text-align: center;
}
h3{
    font-size: 12px;
    font-family: "Cabin Sketch", sans-serif;
    text-align: center;
}

blockquote{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

#img-dep{
    margin: auto;
    margin-top: 20px;
    box-shadow: 0 0 1em #548cc3;
}

.intro{
    background-image: url(img/fundo1.png);
}

.info{
    background-image: url(img/fundo2.jpg);
}

.info-fundo{
    
}

.motivo{
    background-image: url(img/fundo3.png);
}

.galeria{
    background-image: url(img/fundo5.jpg);
}

.benef{
    background-image: url(img/fundo6.jpg);
}

.depo{
    background-image: url(img/fundo4.jpg);
}

#cor-texto{
    color: #548cc3;
}

.blockquote-footer{
    color: #548cc3;
}