body{
    color: #FFF;
}

header{
    position: fixed;
    z-index: 100;
    width: 100%;
}
.cabecalho{
    background-color: #000;
}

#botao{
    float: right;
    margin-top: 10px;
    margin-right: 5px;
}

#logo{
    margin-left: -5px;
}

h1{
    padding: 10px;
    font-size: 20px;
    font-family: "Cabin Sketch", sans-serif;
    text-align: center;
    margin-bottom: 0;
}
h2{
    font-size: 16px;
    font-family: "Cabin Sketch", sans-serif;
    text-align: center;
}
h3{
    font-size: 12px;
    font-family: "Cabin Sketch", sans-serif;
    text-align: center;
    padding: 10px;
}

blockquote{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

#img-dep{
    margin: auto;
    margin-top: 20px;
    box-shadow: 0 0 1em #548cc3;
}

.intro{
    background-image: url(img/fundo1.png);
}

.info{
    background-image: url(img/fundo2.jpg);
}

.info-fundo{
    background-image: url(img/fundo2.jpg);
}

.motivo{
    background-image: url(img/fundo3.png);
}

.galeria{
    background-image: url(img/fundo5.jpg);
}

.benef{
    background-image: url(img/fundo6.jpg);
}

.depo{
    background-image: url(img/fundo4.jpg);
}

.rodape{
    background-color: #333;  
    padding-top: 10px;
    padding-bottom: 5px;
}

#cor-texto{
    color: #548cc3;
}

.blockquote-footer{
    color: #548cc3;
}

#collapseThree{
    padding-bottom: 20px;
}

#accordionInfo{
    padding-bottom: 20px;   
}
.btn-link{
    font-weight: bold;
    line-height: 0;
}

.blockquote{
    padding-bottom: 20px;
}

.imagens{
    padding-bottom: 20px;
}